.boards {
  display: flex;
  width: 100%;
}

.board {
  width: 33%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.182);
  text-align: center;
}

.create-todo__input {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #0d0d0d;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

body {
  font-family: Arial Narrow, sans-serif;
}

.todo-item__todo-name {
  font-size: 20px;
}
