.app {
  display: flex;
  width: 100%;
}

.todo-item__checkbox {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.todo-item__checkbox:before {
  content: '';
  display: inline-block;
  width: 0.8em;
  height: 0.8em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 0.5px solid #010a14;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.todo-item__checkbox > input:not(:disabled):active + span::before {
  background-color: #165aa7;
  border-color: #1858a2;
}

.task-item {
  border: 1px solid #1e90ff;
  border-radius: 10px;
  padding: 5px;
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: space-between;
  margin-left: 3%;
}
